/* generals */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana, Helvetica, sans-serif;
  background-color: #2f343b;
  color: #e6d487;
  line-height: 2rem;
  font-size: 16.5px;
  text-align: center;
}

img {
  max-width: 300px;
}

h1,
h2,
h3 {
  padding: 1rem;
}

h1 {
  color: #b56952;
  text-transform: uppercase;
}

h2,
h3 {
  color: #c3a99a;
}

p {
  text-align: justify;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
  text-align: left;
}

/* container */
.container {
  background-color: #254552;
  width: 75%;
  margin: 0 auto;
  padding: 2rem;
}

.portrait {
  width: 50%;
  padding-bottom: 1rem;
}

.home {
  display: block;
  text-transform: uppercase;
  margin-top: 2rem;
  text-align: right;
  color: #b56952;
}
